#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-todo {
  background-color: white;
  padding: 40px;
  border-radius: 40px;
  margin-bottom: 40px;
}

.content-todo {
  display: flex;
  justify-content: center;
}

.text-todo {
  color: black;
  width: auto;
}

.remove-btn-todo {
  margin-right: 10px;
}

.form-header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  height: 30px;
  margin-bottom: 10px;
  font-size: medium;
}