#root {
  margin: 0 auto;
  text-align: center;
}

.container-todo {
  background-color: #a0aec0;
  padding: 40px;
  border-radius: 40px;
  margin-bottom: 40px;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.dot-status-todo {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -100px;
}

.form-header-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50px;
  font-size: medium;
  border: none;
}

.task-name {
  margin-inline: 10px;
}
